<section class="section" id="service">
    <div class="container">
        <h2 class="mb-5 pb-4"><span class="text-danger">My</span> Certificates</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                    <div class="card-header has-icon">
                        <i class="ti-vector text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Neural Networks and Deep Learning</h5>
                        <p class="subtitle">
                            Gained foundational knowledge of neural networks and deep learning. Developed skills to build, train, and apply fully connected deep neural networks and efficiently implement vectorized computations. Explored key parameters in neural architectures and their application to real-world problems.
                            <a href="https://coursera.org/share/77866d30f0c849106a0aedf8a12dc189" target="_blank">Certificate Link</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                    <div class="card-header has-icon">
                        <i class="ti-write text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Improving Deep Neural Networks</h5>
                        <p class="subtitle">
                            Mastered techniques to improve model performance through hyperparameter tuning, regularization (L2, dropout), and optimization. Implemented advanced algorithms like Momentum, RMSprop, and Adam. Developed neural networks using TensorFlow and applied best practices for error analysis and bias/variance reduction.
                            <a href="https://coursera.org/share/4b0eeaeeabef89673830ce2dd92ca5fd" target="_blank">Certificate Link</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                    <div class="card-header has-icon">
                        <i class="ti-package text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Structuring Machine Learning Projects</h5>
                        <p class="subtitle">
                            Learned to structure and lead machine learning projects effectively. Acquired skills to diagnose and prioritize error reduction strategies, address mismatched training/test data, and implement transfer and multi-task learning. This course provided practical insights into building AI systems from an industry perspective.
                            <a href="https://coursera.org/share/8055f4e9d8c3a02be8619b40e5b80567" target="_blank">Certificate Link</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                    <div class="card-header has-icon">
                        <i class="ti-vector text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Machine Learning in Production</h5>
                        <p class="subtitle">
                            This course helped me bridge the gap between theoretical ML knowledge and real-world deployment. I learned how to design and manage end-to-end ML systems, tackle production challenges like concept drift and error analysis, and apply software engineering best practices to build scalable, reliable ML applications.
                            <a href="https://coursera.org/share/315d1a9afcbf4a79840dc18388111a71" target="_blank">Certificate Link</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
