<header class="header">
    <div class="container">
        <div class="header-content">
            <h4 class="header-subtitle" >Hello, I am</h4>
            <h1 class="header-title">Aymane Jebari</h1>
            <h6 class="header-mono" >Data & Programming Enthusiast</h6>
            <!--
            <div class="resume-buttons">
                <a class="btn btn-secondary btn-rounded" href="./assets/pdfs/CV_french.pdf" target="_blank">
                  <i class="ti-printer pr-2"></i>Print Resume (FR)
                </a>
                <a class="btn btn-primary btn-rounded" href="./assets/pdfs/CV_english.pdf" target="_blank">
                  <i class="ti-printer pr-2"></i>Print Resume (EN)
                </a>
              </div>
            -->
        </div>
    </div>
</header>
